<!DOCTYPE html>
<head>
<title>How quickly can you look hot?</title>
</head>

<body>
<h1>How quickly can you look like your favourite celeb?</h1>
<p>Forget "get Brad Pitt's 6-pack in 3 weeks" or "Look Like Scarlett Johanssen in 4 days". This website uses geekly maths and science to tell you how quickly you could get your perfect body if you went as fast as biologically possible (and how to move that fast...)</p>

<p> So... </p>
<h4> Shall we get started? </h4>
<button>YES</button>
<p> or shall we <a href="https://www.argos.co.uk">visit Argos</a> instead?</p>

<h4> And here's a shopping list</h4>
<ol>
    <li>Sweets</li>
    <li>Duct tape</li>
    <li>Ford Astra</li>
</ol>
    
</body>
</html>

<%= link_to 'About page', about_path%>